.mainContainerBuscar{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 150px;
    padding: 3vh;}
.buscarViajeContainer{
    flex: 1;
    padding: 3vh;
}
.mapContainer{
    flex: 1;
    padding: 3vh;
}
